* {
  padding: 0;
  margin: 0;
  background-color: #161412;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  padding: 2.4rem;
}

#logo {
  height: 35px;
  width: auto;
}

nav {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 500;
  font-size: 1.375rem;
  display: flex;
  gap: 40px;
}

nav a {
  color: white;
  text-decoration: none;
}

.menu {
  display: none;
}

.x {
  display: none;
}

main {
  margin: auto;
  text-align: center;
}

#acq-btn {
  box-shadow: none;
  border-style: none;
  color: white;
  padding: 0.8rem 1.5rem;
  box-shadow: inset 0px 0px 0px 0.5px rgb(255 71 0 / 50%),
    0 0 28px rgb(255 72 0 / 20%);
  font-size: 1rem;
  border-radius: 4px;
  margin-top: 1rem;
  cursor: pointer;
}

#acq-btn a {
  box-shadow: none;
  border-style: none;
  color: white;
  text-decoration: none;
}

#acq-btn:hover {
  box-shadow: inset 0px 0px 0px 0.5px rgb(255 71 0 / 75%),
    0 0 28px rgb(255 72 0 / 20%);
}

.splash-top {
  padding-top: 3rem;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  width: 80%;
  margin: auto;
}

.splash-top h1 {
  color: white;
  font-size: 8.5rem;
}

.splash-top h5 {
  color: #ccc;
  font-size: 1.4rem;
  font-weight: 400;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin-top: 2rem;
}

@media only screen and (max-width: 500px) {
  nav a {
    display: none;
  }
  .menu {
    display: block;
    color: white;
    height: 50px;
    width: 50px;
  }

  .x {
    color: white;
    height: 50px;
    width: 50px;
    display: none;
  }

  .splash-top {
    padding-top: 3rem;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    width: 95%;
    margin: auto;
  }

  .splash-top h1 {
    color: white;
    font-size: 4.5rem;
    line-height: 65px;
  }

  .splash-top h5 {
    color: #ccc;
    font-size: 1rem;
    font-weight: 400;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    margin-top: 2rem;
    line-height: 25px;
  }
}

form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(
    180deg,
    rgba(255, 238, 204, 0.08) 0%,
    rgba(255, 255, 255, 0.11) 100%
  );
  width: 27rem;
  height: 4rem;
  padding: 0rem 0.5rem;
  border-radius: 4px;
  margin-top: 3rem;
  box-shadow: 0 10px 20px rgb(0 0 0 / 50%), 0 0 50px rgb(255 170 0 / 10%);
  margin-left: auto;
  margin-right: auto;
}

input {
  outline: none;
  box-shadow: none;
  border-style: none;
  color: fff;
  background: none;
  margin-left: 1rem;
  font-size: 1rem;
  color: white;
}

#access-btn {
  outline: none;
  box-shadow: none;
  border-style: none;
  background: linear-gradient(180deg, #ff661a 0%, #ff4705 100%);
  padding: 1rem 2rem;
  border-radius: 2px;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 0.9rem;
}

@media only screen and (max-width: 500px) {
  form {
    width: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.7rem 0rem;
    text-align: center;
    gap: 1rem;
  }

  input {
    width: 18rem;
    text-align: left;
  }

  #access-btn {
    padding: 1rem 6.5rem;
  }
}

#product {
  width: 85%;
  margin-top: 6rem;
  padding-bottom: 4rem;
}

@media only screen and (max-width: 500px) {
  #product {
    width: 90%;
    margin-top: 6rem;
    padding-bottom: 2rem;
  }
}

footer {
  background-color: #0f0d0a;
  width: 100%;
  padding-bottom: 5rem;
  padding-top: 2rem;
}

.footer-content {
  background: none;
  background-color: none;
  width: 80%;
  margin: auto;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.footer-content h5 {
  background: none;
  background-color: none;
  color: #ccc;
  font-weight: 400;
}

.footer-content h5 a {
  background: none;
  background-color: none;
  color: white;
  font-weight: 500;
}

.footer-links {
  background: none;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer-links a {
  background: none;
  text-decoration: none;
  font-style: none;
  color: grey;
  font-size: 0.8rem;
}

.mobile-menu {
  display: none;
}

@media only screen and (max-width: 500px) {
  footer {
    width: 100%;
    padding-bottom: 3rem;
    padding-top: 2rem;
  }

  .mobile-menu {
    display: none;
    height: 100vh;
    width: 100vw;
    padding-top: 1rem;
    position: fixed;
  }
  .mobile-menu li {
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: white;
    font-size: 2rem;
    margin-left: 2.25rem;
    margin-bottom: 1rem;
    text-decoration: none;
    font-style: none;
    list-style: none;
  }
}
