* {
  background-color: #3d3834;
  padding: 0;
  margin: 0;
}

main {
  width: 85%;
  color: white;
  margin: auto;
  margin-top: 5rem;
  font-family: "Open Sans", sans-serif;
}

h2 {
  font-size: 2rem;
}

a {
  text-decoration: underline;
  color: white;
}

#musicplace {
  margin-top: 2rem;
  line-height: 1.8;
  max-width: 550px;
}

#work {
  margin-top: 1rem;
  line-height: 1.8;
  max-width: 550px;
}

p {
  font-size: 1.1rem;
}

@media only screen and (max-width: 600px) {
  main {
    margin-top: 1.75rem;
  }
  #musicplace {
    max-width: none;
  }
  #work {
    max-width: none;
  }
}
